.dialogesTestRight {
    display: flex;
    background-color: white;
    height: auto;
    width: fit-content;
    margin-top: 15px;
}

.triangleRight {
    display: flex;
    order: 2;
}

.MessImgRight img {
    height: 55px;
    width: 55px;
    border-radius: 35px;
    order: 3;
}

.objectRight {
    margin-top: 6px;
    border:15px solid transparent; border-left: 15px solid rgba(39,170,225, .1);
    align-self: flex-start;
}

.dialogsMessagesRight {
    border-radius: 10px;
    background: rgba(39,170,225, .1);
    width: 350px;
    height: auto;
}
/*background: rgba(39, 169, 225, 0.788)  */

.MessageInfo {
    border-bottom: 1px dotted #caef8e;
    margin-bottom: 10px;
    width: 96%;
    display: flex;
    flex-direction: column;
}
.MessageNameRight {
    position: relative;
    top: 10px;
    margin-left: 10px;
    
}
.textMited {
    align-self: flex-end;
    color: #939598;
    font-size: 85%;
    margin-bottom: 5px;
}

.MessageTextRight {
    padding: 0 10px 20px 10px;
}

.MessageTextRight img{
    background-color: transparent;
    width: 20px;
    height: 20px;
}
